<div style="background-color: #fcf3e3; min-height:100vh;">
  <div class="mx-auto" style="width: 15%;">
    <a href="/"><img src="/images/logo.png" style="width: 100%" class="mt-3" alt="logo"></a>
  </div>
  
  <div class="mx-auto col-md-4">
    <div class="card my-3 shadow p-3 mb-5 bg-body-tertiary rounded">
      <div class="card-body">
        <h3 class="d-flex justify-content-center">Edit Profile Info</h3>
        <form action="/profile/{{user.id}}/edit?_method=PUT" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{user.name}}" required>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control" id="image" name="image">
          </div>
          <button type="submit" class="btn button d-flex mx-auto mt-4">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>