files:
  "/etc/nginx/conf.d/00_custom_nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      events {}

      http {
         server {
           listen 80;
           server_name krochelic-dev.ap-northeast-1.elasticbeanstalk.com;

           location / {
             proxy_pass http://35.77.229.66:3000;
             proxy_set_header Host $host;
             proxy_set_header X-Real-IP $remote_addr;
             proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
             proxy_set_header X-Forwarded-Proto $scheme;
             
             # 支援 WebSocket
             proxy_http_version 1.1;
             proxy_set_header Upgrade $http_upgrade;
             proxy_set_header Connection 'upgrade';
           }

           # 調整超時設定（可根據需求調整時間）
           proxy_connect_timeout 600s;
           proxy_read_timeout 600s;
           proxy_send_timeout 600s;
         }
      }

container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"
